/*
 ________  ________  ________  _______                               
|\   ____\|\   __  \|\   ___ \|\  ___ \                              
\ \  \___|\ \  \|\  \ \  \_|\ \ \   __/|                             
 \ \  \    \ \  \\\  \ \  \ \\ \ \  \_|/__                           
  \ \  \____\ \  \\\  \ \  \_\\ \ \  \_|\ \                          
   \ \_______\ \_______\ \_______\ \_______\                         
    \|_______|\|_______|\|_______|\|_______|                         
                                                                     
                                                                     
                                                                     
 ___  ___  ________  _____ ______   ________  _______   ________     
|\  \|\  \|\   __  \|\   _ \  _   \|\   __  \|\  ___ \ |\   __  \    
\ \  \\\  \ \  \|\  \ \  \\\__\ \  \ \  \|\  \ \   __/|\ \  \|\  \   
 \ \   __  \ \   __  \ \  \\|__| \  \ \   ____\ \  \_|/_\ \   _  _\  
  \ \  \ \  \ \  \ \  \ \  \    \ \  \ \  \___|\ \  \_|\ \ \  \\  \| 
   \ \__\ \__\ \__\ \__\ \__\    \ \__\ \__\    \ \_______\ \__\\ _\ 
    \|__|\|__|\|__|\|__|\|__|     \|__|\|__|     \|_______|\|__|\|__|
                                                                     
                                                                     
                                                                     

# stenzel@hotmail.com
# www.codehamper.com

*/

body{
background-color: #181818;
color: #fff;
}
h1{
text-align: center;
line-height: 40%;
}


